html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

    .green-button:hover {
        background-color: darkgreen;
    }

.lightgreen-button {

    color: white;
    background-color: green;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;

}

    .green-button:hover {
        background-color: darkgreen;
    }

.nav-link.active {
    border-bottom: 2px solid white;
}

