@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/shutterstock_597047831.jpg" />
    
   @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p style="font-size: 1.25rem;">Try to make the world more green</p>
</div>
